<div
    class="mt-20 mx-auto bg-gray-400 rounded-md bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-10 p-4 text-lg shadow-md flex items-center gap-4 overflow-x-auto"
>
    <div
        *ngFor="let weatherThreeHours of locationForecast"
        class="flex flex-col gap-4 items-center"
    >
        <div>{{ getHourFromUnixTimestamp(weatherThreeHours?.dt) }}</div>
        <div class="w-16 h-16">
            <img
                [src]="
                    'https://openweathermap.org/img/wn/' +
                    weatherThreeHours.weather[0].icon +
                    '.png'
                "
                class="w-full h-full"
                alt=""
            />
        </div>
        <div>{{ weatherThreeHours?.main?.temp | number : "1.0-0" }}°C</div>
    </div>
</div>
