<div
    class="mx-auto bg-gray-400 rounded-md bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-10 py-4 px-6 text-lg shadow-md mb-16"
>
    <div class="flex items-center gap-4">
        <div>Monday</div>
        <div class="flex justify-between items-center w-full">
            <div class="flex items-center gap-2">
                <div class="w-12 h-12">
                    <img
                        src="https://openweathermap.org/img/wn/10d.png"
                        class="w-full h-full"
                        alt=""
                    />
                </div>
                <div>/</div>
                <div class="w-12 h-12">
                    <img
                        src="https://openweathermap.org/img/wn/10d.png"
                        class="w-full h-full"
                        alt=""
                    />
                </div>
            </div>

            <div class="flex items-center gap-2">
                <div>26°C</div>
                <div>/</div>
                <div>16°C</div>
            </div>
        </div>
    </div>
</div>
