<div>
    <div class="flex flex-col items-center gap-16">
        <div
            class="mt-20 mx-auto w-full bg-gray-400 rounded-md bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-10 p-4 text-lg shadow-md mb-16 flex items-center gap-4 overflow-x-auto"
        >
            <div class="flex flex-col gap-4 items-center">
                <div>17:00</div>
                <div class="w-16 h-16">
                    <img
                        src="https://openweathermap.org/img/wn/10d.png"
                        class="w-full h-full"
                        alt=""
                    />
                </div>
                <div>16°C</div>
            </div>
        </div>
        <!-- <div
            class="mt-20 mx-auto w-full bg-gray-400 rounded-md bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-10 pt-4 px-4 text-lg shadow-md mb-16"
        >
            <div class="flex items-center gap-4 overflow-x-auto">
                <div
                    *ngFor="let t of test"
                    class="flex flex-col gap-4 items-center"
                >
                    <div>17:00</div>
                    <div class="w-16 h-16">
                        <img
                            src="https://openweathermap.org/img/wn/10d.png"
                            class="w-full h-full"
                            alt=""
                        />
                    </div>
                    <div>16°C</div>
                </div>
            </div>
        </div> -->
        <div
            class="mt-20 mx-auto w-full bg-gray-400 rounded-md bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-10 p-4 text-lg shadow-md mb-16"
        >
            app-info
        </div>
        <div
            class="mt-20 mx-auto w-full bg-gray-400 rounded-md bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-10 p-4 text-lg shadow-md mb-16"
        >
            app-weekly-forecast
        </div>
    </div>
</div>
