<div class="bg-neutral-950 h-screen">
    <div
        class="h-1/2 w-full bg-gray-400 rounded-md bg-clip-padding backdrop-filter backdrop-blur-md bg-opacity-10"
    >
        <div class="text-white">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt
            nesciunt quidem fuga. Delectus perferendis aspernatur quo,
            blanditiis eligendi nesciunt reiciendis autem fugiat quam laudantium
            placeat mollitia maiores molestias ex voluptates?
        </div>
    </div>
</div>
