<!-- ngIf userLocation === none -->
<div
    *ngIf="!userLocation"
    class="flex flex-col justify-center items-center gap-8"
>
    <div class="w-64 h-64">
        <img
            src="assets/svg/welcome.svg"
            class="w-full h-full"
            alt="error icon"
        />
    </div>
    <div class="text-3xl text-center">
        Please provide us with your location, <br />
        or search for city manually
    </div>
</div>

<!-- ngIf userLocation === denied -->
<div
    *ngIf="userLocation === 'denied'"
    class="flex flex-col justify-center items-center gap-8"
>
    <div class="w-64 h-64">
        <img
            src="assets/svg/error.svg"
            class="w-full h-full"
            alt="error icon"
        />
    </div>
    <div class="text-4xl text-center">
        Could not get your location, <br />
        please search for city manually
    </div>
</div>

<!-- ngIf userLocation === coords -->
<div
    *ngIf="
        userLocation !== 'denied' &&
        userLocation !== 'none' &&
        userLocation !== undefined
    "
    class="w-full mx-auto flex items-center justify-around gap-12"
>
    <div class="w-52 h-52">
        <img src="assets/svg/sun.svg" class="w-full h-full" alt="" />
    </div>
    <div>
        <div class="text-8xl mb-4 text-center">
            {{ weatherInfo?.main?.temp | number : "1.0-0" }}°C
        </div>
        <div class="text-center text-2xl">
            <!-- shorter name -->
            <!-- {{ weatherInfo?.weather?.[0]?.main }} -->
            {{ weatherInfo?.weather?.[0]?.description }}
        </div>
    </div>
</div>
